* {
    box-sizing: border-box;
}

body {
 background: #010101;
 overflow: hidden;
}

#star {
 position: absolute;
 left: 15%;
 top: 15%;
 width: 500px;
 height: 500px;
 transform: translate(-50%, -50%);
 border-radius: 50%;
 /* background-image: url("assets/img/sun.png");
 background-size: cover; */
 background: #ea9b0a;
 box-shadow: 0 0 50px rgb(240, 216, 5);
}

#planet {
 position: absolute;
 left: 10px;
 top: 1px;
 width: 500px;
 height: 500px;
 border-radius: 600px;
 /* background-image: url("assets/img/moon.jpg");
 background-size: cover; */
 background: #010101; 
 box-shadow: inset 0 0 50px rgba(150, 150, 150, 0.2);
 animation: eclipse 20s infinite linear;
 transform-origin: 50% 200%;
 /* transform: rotate(-60deg); */
}

@keyframes eclipse {
 0% {
      transform: rotate(-60deg); 
 }
 
 90% {
      transform: rotate(30deg); 
 }
 
 /* 100%{
   transform: rotate(300deg);
 } */
}

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
	width: 100%;
	height: 100vh;
	background: url("assets/img/langit.jpg") top center;
	background-size: cover;
  }
  
  #hero .hero-container {
	position: relative;
	z-index: 2;
	min-width: 500px;
  }
  
  #hero h1 {
	margin: 0 0 10px 0;
	font-size: 100px;
	font-weight: 700;
	line-height: 56px;
	color: rgb(244, 177, 6);

  }


